<section class="articles">

{% for article in articles %}
<article class="article">
  {% if draft %}
  {% url 'blog:draft_detail' article.pk as page %}
  {% elif not draft  %}
  {% url 'blog:article_detail' article.pk as page %}
  {% endif %}


  <a href="{{ page }}">
    <div class="image-wrapper"></div>
  </a>

  <div class="text-info">

    <a style="color: inherit;
      text-decoration: none;" href="{{ page }}">
      <h3 class="article__title">
        {{article.pk}}
      </h3>
    </a>
    <p class="article__small-description">
      {{article.title}}
    </p>



    {% comment %}
    {% if show_author_name != False %}
    <p class="article__author">
<!--      author:-->
      <span class="material-symbols-outlined">
person
</span>
      <a href="{% url 'blog:author_detail' article.author.pk %}" title="link to an article author page">
        {{article.author.username}}
      </a>
    </p>
    {% endif %}
    {% endcomment %}
  </div>
</article>
  {% empty %}
  no articles yet

{% endfor %}
</section>
