body {
    /*background: green;*/
    margin: 0;
}

.wrapper {
    padding: 0 1rem;
}

nav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav ul li:not(:first-of-type) {
    /*margin-left: 1.5rem;*/
    /*margin-left: 0.75rem;*/
    margin-left: 1rem;
    /*margin-left: 1.25rem;*/
}
