body {
    /*background: green;*/
    margin: 0;
    font-family: sans-serif;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';*/
    font-family:  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-family:  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

img {
    max-width: 100%;
    display: block;
}

.page {
    max-width: 1200px;
    position: relative;
}

.wrapper {
    padding: 0 1rem;
}

nav {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    font-size: 14px;
}

nav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav ul li:not(:first-of-type) {
    /*margin-left: 1.5rem;*/
    /*margin-left: 0.75rem;*/
    margin-left: 1rem;
    /*margin-left: 1.25rem;*/
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.swiper, {
    max-height: 679px;
    overflow: hidden;
}

.swiper-slide {
    position: relative;
    /*max-width: 100%;*/
}

.swiper-slide a {
    display: block;
    background: green;
    /*background: lightgreen;*/
    height: 200px;
    width: 100%;
}


.swiper-slide .info {
    position: absolute;
    z-index: 2;
    color: #fff;
    bottom: 5.25rem;
    left: 3rem;

    max-width: 662px;
}
