<nav>
  <div class="wrapper">
    <ul>
      <li>
        <a href="{% url 'outcinema:homepage' %}#schedule">
          Расписание
        </a>
      <li>
        <a href="{% url 'outcinema:films' %}">
          Репертуар
        </a>
      </li>
      </li>
      <li>
        <a href="{% url 'outcinema:events' %}">
          События
        </a>
      </li>
      <li>
        <a href="{% url 'outcinema:homepage' %}#merch">
          Мерч
        </a>
      </li>
    </ul>
    <div>
      <!--    <li>-->
      <a href="{% url 'outcinema:homepage' %}">
        logo
      </a>
      <!--      <div class="description">-->
      <!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum reiciendis sunt vero. Accusantium eum ipsa porro repellendus totam! Doloribus, sunt.-->
      <!--      </div>-->
      <!--    </li>-->
    </div>
    <ul>
      <li>
        <a href="{% url 'outcinema:homepage' %}#certificates">
          Сертификаты
        </a>
      </li>
      <li>
        <a href="{% url 'outcinema:rent' %}">
          Аренда зала
        </a>
      </li>
      <li>
        <a href="{% url 'outcinema:about' %}">
          О нас
        </a>
      </li>
      <li>
        <a href="{% url 'outcinema:faq' %}">
          Faq
        </a>
      </li>
      <li>
        <a href="{% url 'outcinema:homepage' %}#contacts">
          Контакты
        </a>
      </li>
    </ul>
  </div>
</nav>
