{% extends './base.html' %}
{% load static %}

{% block hero_image %}

<style>
  .image-wrapper {
    min-height: 200px;
    background: #eee;

    .hero-image {

      &.hidden {
          /*opacity: 0;*/
       }
    }
  }

</style>
{% comment %}
<header class="article__detail">
  <div class="image-wrapper">
<!--    <img src="#" alt="" class="hero-image">-->
    <img src="{% static 'blog/images/zebra.jpg' %}" alt="samurai default image" class="hero-image hidden" onload="this.classList.remove('hidden')">
  </div>
</header>
{% endcomment %}
{% endblock %}

{% block content %}

<h2 class="article__title">
  {{ article.title }}

</h2>
<p class="article__description">
  {{ article.description }}
</p>

<p class="published-date">
  {{ article.published_date }}
</p>

qq <a href="{% url 'blog:author_detail' article.author.username %}">
  {{ article.author.username }}
</a> <br>


{% endblock %}
